
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}


body {
  
  background: linear-gradient(to bottom, #FFF5E6, #FFF0D9);
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}


header {
  text-align: center;
  padding: 2rem 1rem;      
  border-bottom: 1px solid #ccc; 
  margin-bottom: 4rem;    
}


a {
  padding: 10px;           
  border: 1px solid #ccc; 
  display: inline-block;     
  text-decoration: none;
  color: #0066cc;
  max-width: fit-content;
}

a:hover {
  text-decoration: underline;
}


img,
svg {
  width: 100%;
  object-fit: cover;
  display: block;
}


main {
  max-width: 1280px;       
  margin: 0 auto 4rem auto; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;              
}


main > article:first-child {
  grid-column: span 2;
}


article {
  border: 1px solid #ccc; 
  padding-bottom: 15px;   
  text-align: left;
  display: grid;
  grid-template-columns: 15px 1fr 15px; 
}

article > * {
  grid-column: 2 / 3;
}

article > img {
  grid-column: 1 / 4; 
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: #fffaf0;
  border-top: 1px solid #ccc;
}
